* {
  font-family: "Alan Sans", sans-serif;
}

.title {
  margin-top: 10em;

  p {
    color: white;
    font-size: 5em;
    font-weight: 800;
  }
}

.cursor {
  position: relative;
  width: 24em;
  margin: 0 auto;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  font-size: 30px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
}
/* Title Animation */
.typewriter-animation {
  animation: typewriter 2s steps(50) 1s 1 normal both,
    blinkingCursor 500ms steps(50) infinite normal;
}
@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 6.7em;
  }
}
@keyframes blinkingCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}

/* Subtitle Animation */

.subtitle {
  font-size: 2.5em;
  font-weight: 600;
  color: white;
  display: flex;
  justify-self: center;
  flex-direction: column;
  div {
    overflow: hidden;
    p {
      text-align: center;
      margin: 0;
      line-height: 117%;
    }
  }
}

.slide-up {
  animation: slide-up 2s cubic-bezier(0.65, 0, 0.35, 1) both;
  animation-delay: 2s;
}

@keyframes slide-up {
  from {
    transform: translateY(100px);
  }
  to {
    transform: translateY(0);
  }
}

/* Textbox styling */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.input-box {
  animation: fadeIn 5s ease-in forwards;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-input {
  margin-top: 3em;
  width: 98%;
  height: 10em;
  border-radius: 15px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding-left: 15px;
  padding-top: 15px;
  color: grey;

  &:disabled {
    background: white;
  }

  &:focus {
    outline: none;
  }
}

/* Button styling */

.btn-submit {
  width: max-content;
  margin-top: 2.5em;
  font-size: 0.8em;
  font-weight: 500;
  border-radius: 30px;
  padding: 0.6em;
  border: none;
  position: relative;
  transition: all 0.5s ease;
  background: white;

  &:disabled {
    opacity: 0.5;
  }

  .button-text {
    background: linear-gradient(to right, #f7797d, #fbd786, rgb(145, 248, 186));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &:enabled:hover {
    cursor: pointer;
    transform: translateY(-5px);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  }
}

/* Loading animation */

/* HTML: <div class="loader"></div> */
.loader {
  width: 10em;
  aspect-ratio: 2;
  --_g: no-repeat radial-gradient(circle closest-side, #ffffff 90%, #0000);
  background: var(--_g) 0% 50%, var(--_g) 50% 50%, var(--_g) 100% 50%;
  background-size: calc(100% / 3) 50%;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
  20% {
    background-position: 0% 0%, 50% 50%, 100% 50%;
  }
  40% {
    background-position: 0% 100%, 50% 0%, 100% 50%;
  }
  60% {
    background-position: 0% 50%, 50% 100%, 100% 0%;
  }
  80% {
    background-position: 0% 50%, 50% 50%, 100% 100%;
  }
}

/* Result styling */

.result-text {
  text-align: center;
  font-weight: 800;
  font-size: 3em;
  color: white;
  margin-top: 2em;
}

.confidence {
  font-weight: 500;
  font-size: 0.8em;
}

.btn-feedback {
  color: white;
  padding: 0.5em 1em;
  border: none;
  font-size: 0.5em;
  margin-top: 1em;
  border-radius: 15px;
  transition: all 0.3s ease;

  &:hover {
    cursor: pointer;
    transform: translateY(-5px);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  }
}

.accuracy-container {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  margin-inline: auto;
  width: fit-content;
  text-align: center;
  color: white;
  display: flex;
  animation: fadeIn 5s ease-in forwards;
}

.accuracy-box {
  width: 20em;
  height: 20px;
  background-color: rgb(218, 216, 216);
  border-radius: 10px;
}

.accuracy-bar {
  height: 100%;
  background-color: green;
  border-radius: 10px;
}

@media screen and (max-width: 1500px) {
  .subtitle {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 950px) {
  .subtitle {
    font-size: 1.2em;
  }
  .btn-submit {
    font-size: 1em;
  }
}

@media screen and (max-width: 600px) {
  .title p {
    font-size: 3em;
  }

  @keyframes typewriter {
    from {
      width: 0;
    }
    to {
      width: 5em;
    }
  }
}
