<div class="container text-center">
  <div class="title">
    <p class="cursor typewriter-animation">how are you?</p>
  </div>
  <div class="subtitle" *ngIf="!isAnalyzing && !showResult">
    <div>
      <p class="slide-up">
        not sure how to answer? just write down your thoughts in the textbox
        below!
      </p>
    </div>
    <div class="input-box">
      <textarea
        [(ngModel)]="text"
        placeholder="write anything..."
        class="text-input"
        [disabled]="inputDisabled"
      ></textarea>
      <button
        type="submit"
        (click)="analyze()"
        class="btn-submit"
        [disabled]="!text || inputDisabled"
      >
        <div class="button-text">summarize</div>
      </button>
    </div>
  </div>
  <div
    *ngIf="isAnalyzing && !showResult"
    style="display: flex; justify-content: center"
  >
    <div class="loader"></div>
  </div>
  <div *ngIf="showResult">i think you're {{ emotion }}</div>
</div>
